name: NoneFlow

on:
  issues:
    types: [opened, reopened, edited]
  pull_request_target:
    types: [closed]
  issue_comment:
    types: [created]
  pull_request_review:
    types: [submitted]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number && format('publish/issue{0}', github.event.issue.number) || github.head_ref || github.run_id }}
  cancel-in-progress: ${{ startsWith(github.head_ref, 'publish/issue')}}

jobs:
  noneflow:
    runs-on: ubuntu-latest
    name: noneflow
    env:
      store-repo: nonebot/noneflow-test
      registry-repo: nonebot/noneflow-test
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_KEY }}
          permission-contents: write

      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup credentials to access github using app-token
        run: |
          git config url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf https://github.com/

      - name: NoneFlow
        uses: docker://ghcr.io/nonebot/noneflow:main
        with:
          config: >
            {
              "base": "master",
              "plugin_path": "assets/plugins.json5",
              "bot_path": "assets/bots.json5",
              "adapter_path": "assets/adapters.json5",
              "registry_repository": "${{ env.registry-repo }}",
              "store_repository": "${{ env.store-repo }}"
            }
        env:
          APP_ID: ${{ secrets.APP_ID }}
          PRIVATE_KEY: ${{ secrets.APP_KEY }}
          DOCKER_IMAGES_VERSION: main
          STORE_BASE_URL: "https://raw.githubusercontent.com/nonebot/noneflow-test/master/assets"
          REGISTRY_BASE_URL: "https://raw.githubusercontent.com/nonebot/noneflow-test/results"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: noneflow
          path: artifact/*
          if-no-files-found: ignore
